<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">    
        <title>My Website - About</title>    
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>    
        <h1>Marc Grant</h1>    
        <p>I am a final year student at the University Of the West Indies, currently enrolled in the Bsc Information Technology program. Professionally I am a Data Analyst and 
            my favourite sport is Football.
        </p>
    </body>
    </html>